.session-form-container { 
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px grey;
}

.session-form { 
    padding: 20px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#login-input { 
    font-size: 17px;
    padding: 14px 16px;
    /* width: 365px; */
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
}

#login-textarea { 
    font-size: 17px;
    padding: 14px 16px;
    width: 90%;
    border: 1px solid black;
    border-radius: 6px;
    font-family: proxima-nova, sans-serif;
}

#login-input:hover {
    border: 1px solid var(--primary-color);
}

#login-input:focus-visible{
    border: 1px solid var(--primary-color);
    outline: 1px solid var(--primary-color);
}

#login-submit {
    font-size: 20px;
    line-height: 48px;
    padding: 0px 16px;
    margin-top: 10px; 
    /* width: 400px; */
    width: 100%;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: white
}
#login-submit:hover{
    cursor: pointer;
    background-color: var(--primary-hover);
    transition: .3s;
}

#forgot { 
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#signup-submit,
#signup-submit-two { 
    font-size: 20px;
    line-height: 48px;
    padding: 0px 16px;
    margin-top: 10px;
    /* width: 400px; */
    width: 100%;
    border-radius: 6px;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: white
}
#signup-submit:hover,
#signup-submit-two:hover{
    cursor: pointer;
    background-color: var(--secondary-hover);
    border: 2px solid var(--secondary-hover);
    transition: 0.3s;
}

hr { 
    border-color: black;
}

#profile-image-input { 
    margin-bottom: 2px;
}

