.compose-window{
  width: 100%;
  display: flex;
  justify-content: center;
}

.compose-container {
  /* margin-top: 125px; */
  margin-top: var(--margin-top);
  width: var(--width);
  height: 550px;
  border: 1px solid rgb(184, 183, 183);
  box-shadow: 0px 12px 18px 6px rgb(166, 165, 166);
  padding: 30px 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
}

.compose-top {
  display: flex;
  width: 100%;
  height: 100%;
}

.compose-map{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#choose-your-location{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  font-size: 17px;
  padding-top: 35px;
}

.text-editor {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  justify-content: flex-start;
  height: 0px;
}

.compose-heading > h2{
  margin: 0 0;
}

.post-subject{
  margin: 0;
}

.quill-editor-compose {
  margin: 10px 0px;
}

.upload-images {
  display: flex;
  flex-direction: column;
}

#subject-compose {
  margin: 0;
  padding: 5px 8px;
  width: 100%
}

#compose-post-heading{
  margin: 0;
  font-size: 25px;
}

#react-quill {
  height: 400px;
  width: 1000px
}

#choose-files {
  width: 100%;
}

.submit-btn {
  width: 100%;
  height: 35px;
  margin: 10px 0px;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  border-radius: 4px;
}
.submit-btn:hover{
  cursor: pointer;
  background-color: var(--primary-hover);
  transition: .3s;
}

.ql-editor{
  height: 250px;
}

@media(max-width: 1200px){
  .compose-top{
    display: flex;
    flex-direction: column;
  }
  .compose-container{
    height: 980px;
  }
  #choose-your-location{
    padding-bottom: 35px;
  }
  .compose-map{
    align-self: center;
  }
}