.splash-container { 
    font-family: proxima-nova, sans-serif;
}

.splash-login-container { 
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin: auto;
    margin-top: 150px;
}

.box { 
    margin: 30px;
    margin-top: 150px;
    overflow: hidden;
    height: 500px;
    display: flex;
    justify-content: space-between;
    max-height: 40vh;
    box-shadow: 0px 2px 20px 10px var(--shadow-color);
    border-radius: 10px;
    background-color: var(--accent-color);
}

.box img { 
    height: auto;
    width: 40%;
}

.box-left, 
.box-middle, 
.box-right { 
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grids { 
    max-width: 65%;
    margin: auto;
}

.splash-login-left { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5vw
}

.box-left-up,
.box-middle-up,
.box-right-up { 
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: -20px;
}

.box-left-stat,
.box-middle-stat,
.box-right-stat { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash-lists { 
    font-size: 20px;
    margin: 8px;
}

#main-title { 
    font-size: 40px;
    margin: 10px;
}

#main-subtitle { 
    font-size: 30px;
    margin: 10px;
}

#splash-statistics { 
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

#splash-postcard { 
    width: 70%;
    height: auto;
}

#mission-statement,
#postcards,
#statistics { 
    margin: 10px;
    font-size: 24px;
}

#postcard-right { 
    min-width: 45%;
}

.box-right { 
    width: 80%
}






