.sidebar{
    width: var(--sidebar-width);
    position: sticky;
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.sidebar-link{
    width: var(--sidebar-width);
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 22px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;

}

.sidebar div:hover{
    border-radius: 5px;
    background-color: var(--link-hover);
}
