:root{
  --post-index-height: 500px;
}

.post-index-item {
  background: var(--offwhite-color);
  width: 100%;
  margin-top: 30px;
  height: var(--post-index-height);
  /* background-color: white; */

  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  box-shadow: var(--box-shadow);
}



.post-item-top {
  height: 84%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-index-map {
  min-width: 50%;
  width: 50%;
  height: calc(-58px + var(--post-index-height));
  padding-right: 20px;
  border-right: 1px solid gray;
}

.post-item-middle {
  min-width: 40%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #FF0000;
} */

.post-item-middle h2{
  margin: 0;
  text-align: center;
  font-size: 25px;
  color: var(--primary-color);
}
.post-item-subject:hover{
  cursor: pointer;
  /* transform: translateY(-2px); */
  transform: scale(1.04);
  transition: 0.3s;
}

.post-item-middle h3{
  font-size: 18px;
}
.dear{
  margin: 10px 0;
}
.signature{
  margin: 0;
  margin-top: 15px;
}

.post-index-date{
  min-width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-index-date-lower {
  min-width: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.post-index-icon{
  height: 30px;
  cursor: pointer;
  font-size: 25px;
}

.post-index-icon:hover{
  color: var(--primary-color);
  transform: scale(1.1);
  transition: .3s;
}

.post-item-bottom-container{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: right;
}

.post-item-bottom {
  width: 50%;
  padding-left: 20px;
  align-self: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reaction-bar{
  width: 33%;
  list-style:none;
  margin: 0;
  padding: 0;
  display: flex;
}

.reaction {
  font-size: 25px;
}

.post-item-bottom > button{
  width: 100px;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  background-color: var(--primary-color);
}
.post-item-bottom > button:hover{
  cursor: pointer;
  background-color: var(--primary-hover);
  transition: .3s;
}

.post-show{
  margin-top: 100px;
}

#time-ago{
  width: 33%;
  text-align: right;
}

.test-bottom-bar { 
  display: flex;
  justify-content: space-between;
}

