body {
    background-color: whitesmoke;
    font-family: monospace;
}


.post-index-container {
    max-width: 75vw;
    width: 75vw;
    margin: auto;
}

.posts-index-header {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#all-pins-map-container { 
    margin: auto;
    transition: all ease-in 500ms;
}

#all-pins-map-container:hover {
    box-shadow: 0 10px 15px #9f9e9e;
 }

.posts-index-filter {
    margin-top: 50px;
    display: flex;
    background-color: white;
    border-radius: 30px;
    width: 100%;
}

#filter-by {
    padding: 0px 30px;
    font-size: 16px;
}

.filter-buttons {
    border: none;
    background-color: transparent;
    font-family: monospace;
    font-size: 18px;
    margin: 10px;
}

#post-google-map {
    width: 100%;
    box-shadow: 0 5px 15px #9f9e9e;
}

#profile-image-item {
    height: 75px;
    width: 75px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    border-radius: 50%
}

#post-item-photo {
    height: 100px;
    width: auto;
}

#post-index-compose { 
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    transition: all ease-in 500ms;
}

#post-index-compose:hover { 
    font-size: 22px;
    color: blueviolet
}
