:root{
  --post-index-height: 500px;
}

.post-item-top {
  height: 84%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-index-map {
  min-width: calc(50% - 20px);
  height: calc(-58px + var(--post-index-height));
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  /* border-right: 1px solid #848484; */
}

.post-item-middle {
  min-width: 40%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #FF0000;
} */

.post-item-middle h2{
  margin: 0;
  text-align: center;
  font-size: 25px;
  color: var(--primary-color);
}
.post-item-subject:hover{
  cursor: pointer;
  /* transform: translateY(-2px); */
  transform: scale(1.04);
  transition: 0.3s;
}

.post-item-middle h3{
  font-size: 18px;
}
.dear{
  margin: 10px 0;
}
.signature{
  margin: 0;
  margin-top: 15px;
}

.post-index-date{
  min-width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-index-date-lower {
  min-width: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.post-index-icon{
  height: 30px;
  cursor: pointer;
  font-size: 25px;
}

.post-index-icon:hover{
  color: var(--primary-color);
  transform: scale(1.1);
  transition: .3s;
}

.post-item-bottom-container{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: right;
}

.post-item-bottom {
  width: 50%;
  padding-left: 20px;
  align-self: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reaction-bar{
  width: 33%;
  list-style:none;
  margin: 0;
  padding: 0;
  display: flex;
}

.reaction {
  font-size: 25px;
}

.post-item-bottom > button{
  width: 100px;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  background-color: var(--primary-color);
}
.post-item-bottom > button:hover{
  cursor: pointer;
  background-color: var(--primary-hover);
  transition: .3s;
}

.post-show{
  margin-top: 100px;
}

#time-ago{
  width: 33%;
  text-align: right;
}

.test-bottom-bar {
  display: flex;
  justify-content: space-between;
}

.post-show {
  padding: 20px;
}

#single-pin-map-show {
  height: 80%;
}

/* REFACTORED */

.post-index-item {
  background: var(--offwhite-color);
  margin-top: 30px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.post-index-item:hover {
  box-shadow: 0px 8px 8px rgb(171, 171, 171);
}

.post-content-box {
  display: flex;
  margin-bottom: 20px;
}

.post-interactions-box {
  margin-top: 10px;
  padding-right: 10px;
  border-top: 1px solid #848484;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-meta {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  color:  #848484;
}

.post-people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.post-text {
  /* padding-left: 80px; */
  position: relative;
  width: 50%;
  /* margin-left: auto; */
}

.read-more {
  color:  #848484;
  font-size: 20px;
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

.post-text h1 {
  font-family: 'IBM Plex Mono', monospace;
}

.post-preview {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 10px;
  /* /* width: 70%; */
  /* max-width: 400px; */
  margin-left: 40px;
  margin-right: 40px;
  /* overflow-wrap: break-word; */
}
.post-preview span {
}

.post-preview span {
  font-size: 22px;
  font-weight: 200;
  line-height: 1.5;
}

.post-person {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.post-person.left {
  border-right: 1px solid #848484;
  padding-right: 40px;
}

.post-person-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  left: 0px;
}
.post-person-img.right {
  left: 40px;
}

.from-or-to {
  text-align: left;
  padding-right: 10px;
  color:  #848484;
  font-size: 20px;
}

.time-since {
  color: #848484;
  font-size: 20px;
  padding-left: 180px;
}

.post-title {
  margin-bottom: 20px;
}



.participants {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
}

.post-person-profile-wrapper {
  position: relative;
  width: 120px;
  margin-left: 40px;
}

.post-index-author-toolbar {
  position: relative;
}

.post-index-icon {
  position: absolute;
  right: 0;
}

.post-index-icon.edit {
  right: 40px;
}

.index-item-post-link {
  color: black;
  text-decoration: none;
}

/* .index-item-post-link p {
  display: inline;
  margin-left: */
/* } */

.post-content-preview {
  width: 100%;
}

.post-content-preview p {
  display: inline;
  margin-right: 6px;
  padding-left: 6px;
  white-space: normal;
}

.post-content-preview p:nth-child(n+2) {
  padding-left: 2px;
}
