body {
    background-color: whitesmoke;
    font-family: monospace;
}
.post-index-item {
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 12px 18px 6px rgb(199, 199, 199);
    padding: 30px;
    border-radius: 20px;
}

.posts-index-header {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-index-middle {
    min-width: 40%;
    padding: 0 20px;
}

.post-index-middle h2{
    margin: 0;
    text-align: center;
    font-size: 25px;
    color: var(--primary-color);
}

.post-index-middle h3{
    font-size: 18px;
    color: var(--secondary-color);
}
.dear{
    margin: 10px 0;
}
.signature{
    margin: 0;
    margin-top: 15px;
}

.post-index-date{
    min-width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-index-date-lower {
    min-width: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.post-item-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-index-map {
    min-width: 45%;
    border-radius: 10px;
}

.post-index-container {
    max-width: 75vw;
    margin: auto;
}

.post-index-icon{
    height: 30px;
    cursor: pointer;
    font-size: 25px;
}

.post-index-icon:hover{
    color: var(--primary-color);
    transform: scale(1.1);
    transition: .3s;
}

.post-item-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.post-item-bottom button{
    width: 100px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: var(--primary-color);
}
.post-item-bottom button:hover{
    cursor: pointer;
    background-color: var(--primary-hover);
    transition: .3s;
}

.posts-index-filter {
    margin-top: 50px;
    display: flex;
    background-color: white;
    border-radius: 30px;
    width: 100%;
}

.filter-buttons {
    border: none;
    background-color: transparent;
    font-family: monospace;
    font-size: 18px;
    margin: 10px;
}

#filter-by {
    padding: 0px 30px;
    font-size: 16px;
}

#post-google-map {
    width: 100%;
    box-shadow: 0 5px 15px #9f9e9e;
}

#profile-image-item {
    height: 75px;
    width: 75px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 50%
}

#post-index-photo {
    height: 100px;
    width: auto;
}