.reactions-dropdown {
  position: relative;
}

.reaction-wrapper {
  top: -80%;
  right: -20%;
  border-radius: 25px;

  background-color: #efefef;
  font-size: 18px;

  font-family: proxima-nova, sans-serif;
  display: flex;

  position: absolute;
}

.reaction-button.create-reaction {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: root(--offwhite-color);
  font-size: 30px;
  border: none;
}

.reaction-button.create-reaction:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.reaction-icon.toolbar {
  background-color: #efefef;
  border: none;
  width: auto;
  padding: 5px;
  font-size: 35px;
  border-radius: 25px;

  display: flex;
  align-items: center;
}
.reaction-icon.toolbar:hover {
  cursor: pointer;
  background-color: lightgray;
  border: none;
  width: auto;
  padding: 5px;
  font-size: 35px;
}

.reaction-image{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 2px solid black;
}