.profile-container{
    /* margin-top: 100px; */
    margin-top: var(--margin-top);
    margin-left: auto;
    margin-right: auto;
}

.profile-header{
    /* move because of map borders on sides */
    padding-left: 20px;
}

#all-pins-map-container{
    display: flex;
    justify-content: center;
}
