.profile-container {
    /* margin-top: 100px; */
    margin-top: var(--margin-top);
    margin-left: auto;
    margin-right: auto;
}

#welcome-corner {
    display: flex;
    justify-content: space-between;
}

#welcome-corner>h1 {
    margin: 0;
    padding: 0;
}

#welcome-corner img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}



#all-pins-map-container {
    display: flex;
    justify-content: center;
}

#friend-click-button {
    /* background-color: lightgrey; */
    width: fit-content;
    cursor: pointer;
}

#all-friends-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
    column-gap: 10px;
}


.no-posts { 
    display: flex;
    justify-content: center;
    margin-top: 120px;

}


#single-friend {}
