/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');


/*
1. Import fonts
2. Set background color to offwhite blue
3. Set primary color to blue
4. Set navbar to 80% opacity
 */

:root{
  --primary-color: #2A3347;
  /* --primary-hover: rgba(72, 31, 110, 0.932); */
  --primary-hover: #70808F;;
  --secondary-color: #70808F;
  --secondary-hover: #8194a5;
  --link-hover: rgba(50, 49, 49, 0.192);
  --shadow-color: rgba(0, 0, 0, 0.212);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --width: 1080px;
  --accent-color: rgba(255, 255, 255, 0.5);
  --sidebar-width: 200px;
  --margin-top: 100px;
  /* New Var Names */
  --offwhite-color: #F8FBFF;
  --background-color: #F0F6FF;
}

body{
  background: var(--background-color);
  font-family: 'IBM Plex Sans', sans-serif;
}

form > .errors {
  color: red;
  font-size: 0.875em;
  height: 15px;
  display: flex;
  align-items: center;
}

.whole-page-styling{
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner-page-styling{
  max-width: 75vw;
  width: 75vw;
  align-self: center;
  margin-left: var(--sidebar-width);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  box-sizing: border-box;
}

/*Spin Stuff*/
/* .location-icon:hover{
  transform: translateY(1px);
  z-index: 500;
  animation: spin 3s linear infinite
}

@keyframes spin {
0% {transform: rotate(0);}
100%{transform: rotate(360deg);}
} */

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1.5,1,1);}
  25%  {transform: translate3d(0,-25%,0) scale3d(1.2,1.5,1);}
  50%  {transform: translate3d(0,-100%,0) scale3d(1,1.5,1);}
  75%  {transform: translate3d(0,-25%,0) scale3d(1.2,1.5,1);}
  100% {transform: translate3d(0,0,0) scale3d(1.5,1,1);}
}
.location-icon:hover{
  transform-origin: 50% 50%;
  animation: jump 2s linear alternate infinite;
}


.secondary-button {
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 20px;
  border: none;
  background-color: var(--background-color);
}

.secondary-button:hover {
  color: white;
}
